
.imageBackground {
 background: url(photos/main.jpg) no-repeat center center fixed;
 -webkit-background-size: cover; 
}

.pinkBackground {
 background-color: #EBCFC4;
}

.greenBackground {
 background-color: #CBDDBA;
}

.yellowBackground {
 background-color: #ECEEC4;
}

.orangeBackground {
 background-color: #E8CA94;
}

footer {
 position: relative;
 top: 30px;
 bottom: 5px;
 text-align: center;
}

.forceBottomPageLogo {
 position: absolute;
 bottom: 5px;
}

nav {
 width: 50%
}

.subnavigation { 
 width: 60%
}

.center {
 margin: auto;
 text-align: center;
}

nav > ul > li {
 display: inline;
 padding: 25px;
}

.subnavigation > ul > li {
 display: inline;
 padding: 50px;
}

nav > ul > li > a {
 color: white;
}

.subnavigation > ul > li {
 color: #900C3F;
}

.navFont {
 text-decoration: none;
 font-family: Georgia, serif;
 font-size: 23px;
}

.slide {
 width: 15%;
}

.selectedSlide {
 width: 50%;
}

.slideShow > li {
 display: inline;
 padding: 5px;
}

.login {
 text-align: center;
 margin: auto;
 width: 50%;
 margin-top: 150px;
 margin-bottom: 150px;
}

.customerProfiles > div {
 padding: 25px;
}

.customerProfilePicture {
 width: 40%
}

.addIcon {
 margin-left: 10px;
 margin-top: 5px;
 width: 1.25%;
}

.newCustomerIcon {
 float: right;
 width: 3%;
 margin-top: 5px;
 margin-right: 5px;
}

.info > h1, .info > h2, .info > p {
 margin-left: 50px;
 width: 50%;
}






