
.imageBackground {
 background: url(photos/main.jpg) no-repeat center center fixed;
 -webkit-background-size: cover; 
}

.pinkBackground {
 background-color: #ECECBD;
}

.greenBackground {
 background-color: #CBDDBA;
}

.yellowBackground {
 background-color: #d9e6f2;
}

.orangeBackground {
 background-color: #ffddcc;
}

#downloadLink {
 float: right;
 width: 40px;
}

#selectedPage {
 text-decoration: underline;
}

footer {
 position: relative;
 top: 30px;
 bottom: 5px;
 text-align: center;
}

nav > div > ul {
 width: 60%;
}

nav {
 margin-bottom: 15px;
}

.logo {
 margin-left: auto;
 margin-right: auto;
 width: 20%;
 margin-bottom: 15px; 
}

.center {
 margin: auto;
}

nav > div > ul > li {
 display: inline;
 padding: 6%;
}

nav > div > ul > li > a {
 color: black;
}

.confirmationMessage {
 text-align: center;
 text-decoration: none;
 font-family: Georgia, serif;
 font-size: 15px;
 color: blue;
}

.errorMessage {
 text-align: center;
 text-decoration: none;
 font-family: Georgia, serif;
 font-size: 15px;
 color: red;
}

.navFont {
 text-decoration: none;
 font-family: "Belleza", sans-serif;
 font-size: 24px;
}

.inlineCenter {
 text-align: center;
}

.info > div, .info > h2 {
 font-family: "Belleza", sans-seriff;
 text-align: center;
}

.info > h2 {
 margin-top: 50px;
}

.slideShow > div, .slideShow > ul {
 width: 45%;
 margin: auto;
}

.slideShow > ul > li > form {
 display: inline;
} 

.slideShow {
 padding-top: 25px;
}

.slideShow > ul {
 padding-top: 15px;
}

.slide {
 width: 24%;
}

.selectedSlide {
 width: 100%;
}

.slides > li {
 display: inline;
 padding: 1%;
}

.arrow {
 width: 20px;
 position: relative;
 top: 20%;
 transform: translateY(-50%);
}

.customerProfiles > div {
 padding-top: 25px;
}

.customerProfiles {
 width: 45%;
}

.customerProfilePicture {
 width: 100%;
}

.customerName {
 text-align: center;
}

.customerName > form {
 display:inline; 
}

.addIcon {
 width: 3%;
 float: right;
}

.newCustomerIcon {
 float: right;
 width: 3%;
 margin-top: 5px;
 margin-right: 5px;
}

.gallery {
 list-style: none outside none;
 padding-left: 0;
 margin: 0;
}

.demo .item {
 margin-bottom: 60px;
}

.content-slider .gallery > li {
 background-color: #ed3020;
 text-align: center;
 color: #FFF;
}

.content-slider h3 {
 margin: 0;
 padding: 70px 0;
}

.demo {
 width: 60%;
 margin:auto;
}

.gallery > li > img {
 width: 100%;
}

.login, .editCustomer {
 width: 100%;
 margin: auto;
 margin-bottom: 300px;
}

.columns {
 margin-top: 100px;
}

.column {
 float:left;
 width:50%;
 text-align: center;
}

.login > .columns > .column {
 text-align: left;
}

.columns > .column {
 text-align: left;
}

.columnLabels > div {
 margin-top: 4px;
}

.columnLabels {
 width: 50%
}

.column > div {
 margin-top: 7px;
}

.columnLabels > div > div {
 margin-top: 6px;
}

.columnLabels > div {
 width: 25%;
 float:right;
}

.submit {
 float: left;
}

.errorMessage {
 clear: both;
}

footer {
 clear: both;
}

footer > span {
 margin-right: 20px;
}

.logout > a > button {
 cursor: pointer;
}
